<div class="header">
	<h1>404</h1>
	<h2>You done goofed.</h2>
</div>

<div class="content">
	<p>Looks like we couldn't find what you were looking for. That might be because you're not logged in, or you might've just tried something whacky. Why don't you give some of links to the right a shot instead.</p>
</div>