<div class="header">
	<h1>Chattr</h1>
	<h2>Not the linux command</h2>
</div>

<div class="content">
	Welcome, to chattr: the quick fire, IRC-like web chat platform built in two days. It's pretty crazy.
</div>